@model WebPrueba.Models.Registrado

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Registrado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdRegistrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRegistrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombresCompletos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombresCompletos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Identificacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
